@inherits LayoutComponentBase
<div class="kb-layout">
    <header class="kb-header">
        <div class="kb-brand">LeadingByLead</div>
    </header>

    <main class="kb-main">
        @Body
    </main>
</div>